/* fonts */
@font-face {
    font-family: 'Hyundai HarmonyL';
    font-style: normal;
    font-weight: 700;
    src: url('https://koookm.github.io/HHarmonyL.woff') format('woff'),
        url('https://koookm.github.io/HHarmonyL.ttf') format('truetype');
}